* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Helvetica, Arial, serif;
  font-size: 16px;
  background-color: #ebebeb;
}

.root {
  display: flex;
  height: 100%;
  width: 100%;
}

.demo {
  display: flex;
  width: 100%;
  margin: 3px;
  padding: 13px 6px;
  text-align: center;
  border: 2px solid #000;
}

.main {
  margin: auto;
}

.sidebar {
  flex: 0 1 auto;
  width: 160px;
  height: 100%;
  padding: 7px 0;
  background-color: #d7eb5a;
  border: 2px solid #000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 26px;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 13px 18px 13px 14px;
  padding: 0;
}

a {
  color: #87a8e2;
  text-decoration: none;
}

a:hover,
a.active {
  color: #bababa;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 6px 5px 4px;
  color: #000;
  text-decoration: none;
  border: 1px solid currentColor;
  border-radius: 8px;
  font-size: 14px;
}

.btn--plain {
  padding: 5px;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
}

.btn:hover,
.btn:active,
.btn.active {
  color: #5c5c5c;
}

.btn--plain:hover {
  color: #000;
}

.caption {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 45px;
}

/* Table screen  */
.table {
  width: 90%;
  margin: 0 auto 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

thead {
  vertical-align: middle;
  border-color: inherit;
}

tr {
  vertical-align: inherit;
  border-color: inherit;
}

.table thead th {
  padding: 10px 10px 11px;
  vertical-align: bottom;
  background-color: #ccc;
  border-color: #000;
}

.table td,
.table th {
  padding: 17px 6px 17px;
  vertical-align: top;
  border: 1px solid #000;
  font-weight: normal;
}

.is--asc:before,
.is--desc:before {
  content: "▲";
  position: absolute;
  margin-left: -25px;
  font-size: 16px;
}

.is--desc:before {
  content: "▼";
}

@media (min-width: 769px) {
  .btn {
    outline: none;
  }

  .table {
    width: 100%;
    max-width: 640px;
  }

  .table th:first-child {
    min-width: 222px;
  }
  .table th:nth-child(2) {
    min-width: 127px;
  }
  .table th:last-child {
    min-width: 292px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .sidebar {
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .demo {
    flex-direction: column;
  }

  .content,
  .caption {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .content {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  .table {
    padding: 0;
  }
  .table thead th {
    font-size: 10px;
    font-weight: normal;
    padding: 5px;
  }

  .table td,
  .table th {
    padding: 5px;
  }

  .btn--plain {
    font-size: 10px;
  }
}
